:root {
    --green: #144734;
    --yellow: #f8b42d;
    --black: #000;
    --white: #fff;
    --beige: #efece0;
    --sand: #f0edde;
    --lightgray: #d3d3d3;
  }

  ::-moz-selection { /* Code for Firefox */
    color: var(--black);
    background: var(--lightgray);
  }
  
  ::selection {
    color: var(--black);
    background: var(--lightgray);
  }

/*Montserat font*/ 
@font-face {
  font-family: "Montserratblack";
  src: url('Fonts/Montserrat/static/Montserrat-Black.ttf') format('woff2');
  src: url('Fonts/Montserrat/static/Montserrat-BlackItalic.ttf') format('woff2');
}

@font-face {
  font-family: "Montserratitalic";
  src: url('Fonts/Montserrat/static/Montserrat-Italic.ttf') format('woff2');
}

@font-face {
  font-family: "Montserratmedium";
  src: url('Fonts/Montserrat/static/Montserrat-Medium.ttf') format('woff2');
  src: url('Fonts/Montserrat/static/Montserrat-MediumItalic.ttf') format('woff2');
}

@font-face {
  font-family: "Montserratregular";
  src: url('Fonts/Montserrat/static/Montserrat-Regular.ttf') format('woff2');
}

@font-face {
  font-family: "Montserratsemibold";
  src: url('Fonts/Montserrat/static/Montserrat-SemiBold.ttf') format('woff2');
  src: url('Fonts/Montserrat/static/Montserrat-SemiBoldItalic.ttf') format('woff2');
}

/*Merriweather font*/

@font-face {
  font-family: "Merriweatherregular";
  src: url('Fonts/Merriweather/Merriweather-Regular.ttf') format('woff2');
}

@font-face {
  font-family: "Merriweatherblack";
  src: url('Fonts/Merriweather/Merriweather-Black.ttf') format('woff2');
  src: url('Fonts/Merriweather/Merriweather-BlackItalic.ttf') format('woff2');
}

  h1 { 
    font-family: "Montserratsemibold";
  }

  h2 { 
    font-family: "Merriweatherblack";
    font-weight: 600;
    color: var(--green);
  }

  h3 { 
    font-family: "Merriweatherregular";
  }

  h4 { 
    font-family: "Montserratmedium";
  }

  h5 { 
    font-family: "Montserratmedium";
    color: var(--yellow);
  }

 .green { 
    background: var(--green);
  }

  @media screen and (max-width: 992px) {
    .padding { 
      padding-top: 4em;
    }    
  }

/*Header*/ 
.container-fluid { 
    align-items: flex-end !important;
}

.container-fluid.header {
  height: 95px;
}

.navbar { 
    z-index: 1;
    margin: auto;
    width: 60%;
    background-color: var(--white) !important;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.container-fluid.nav {
  display: flex;
  justify-content: center;
}

.navbar-nav li {
    margin: 0px 55px 0px 0px;
}

.nav-link::after { 
    color: var(--yellow);
}

ul a {
    font-family: "Montserratmedium";
    color: var(--green) !important;
    font-size: 15px !important;
    padding-top: 25px !important;
}

ul a:hover { 
    color: var(--yellow) !important; 
}

ul a:focus { 
    color: var(--yellow) !important; 
}

.container-lg { 
    z-index: 1;
}

.logoimg img { 
    max-width: 160px;
    max-height: 140px;
    margin-top: 20px;
    border-radius: 50%;
    height: auto;
    overflow: hidden;
    z-index: 2;
    border: 6px solid var(--white);
}

.navbar-toggler { 
    padding-top: 35px;
    width: 20px;
    height: 20px;
    position: relative;
    right: 7px;
    transition: .5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
}

.navbar-toggler span {
    margin: 0;
    padding: 0;
}

.toggler-icon {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: black;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.middle-bar {
    margin-top: 0px;
}

/*when naigation is clicked */
.navbar-toggler .top-bar { 
    margin-top: 0px;
    transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha (opacity=0);
}

.navbar-toggler .bottom-bar {
    margin-top: 0px;
    transform: rotate(-135deg);
}

/*Stage when the navbar is collapsed*/ 

.navbar-toggler.collapsed .top-bar { 
    margin-top: -20px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar { 
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    margin-top: 20px;
    transform: rotate(0deg);
 }

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-collapse {
    padding-bottom: 15px;
    background-color: var(--white);
    border-radius: 10px;
    text-align: center;
}

.navbar .navbar-collapse {
    text-align: center;
    transition: 700ms !important;
}

.phone-container { 
    z-index: -1;
}

.phone { 
    width: 100%;
    max-width: 175px;
    height: 100%;
    text-align: center;
    padding-top: 2rem;
    background-color: var(--green);
}

.inner .phone { 
padding: 30px;
}

.phone a { 
    color: var(--white) !important;
    font-weight: bold;
}

.phone i { 
    color: var(--white);
    font-size: 20px;
}

#allicons {
    background: var(--green) none repeat scroll 0 0;
    bottom: 0;
    height: 48px;
    left: 0;
    line-height: 48px;
    position: fixed;
    right: 0;
    z-index: 2000;
    display: block;
}

.telfoonicon { 
position: absolute;
left: 25%;
font-size: 25px;
color: var(--white);
}

.emailicon { 
    position: absolute;
    left: 70%;
    font-size: 25px;
    color: var(--white);
}

.image_wrapper { 
  
  background-image: url("img/header.jpg");
  height: 500px;
  position: relative;
  background-size: cover;
  background-position: center;
}

.overlay-heading { 
  content: "";
  position: absolute;
  top: 30%;
  left: 10%;
  right: 48%;
  padding: 1.5em 2em;
  border-radius: 20px;
  background-color: #ffffff94;
  color: var(--green);
  font-weight: 600;
}

.overlay-heading h1 { 
 font-size: 60px;
 font-weight: 600;
}

.overlay-heading p {
  font-weight: 600;
}

@media screen and (max-width: 576px) { 
  .overlay-heading { 
    right: 10%;
  }
  .overlay-heading h1 { 
    font-size: 35px;
  }

}

@media screen and (min-width: 576px) and (max-width: 768px) { 
.overlay-heading {
  right: 30%;
}
.overlay-heading h1 { 
  font-size: 50px;
}
}

@media screen and (min-width: 768px) and (max-width: 992px) { 
  .overlay-heading {
    right: 25%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) { 
  .overlay-heading {
    right: 40%;
  }
}

@media screen and (max-width: 1200px) and (min-width: 1400px), (min-width: 1400px) { 
  .overlay-heading {
    right: 58% !important;
  }
}

.image_wrapper .img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.overlay_2 {
  position: relative;
  left: -4px;
  top: 12em;
  max-width: 30em;
  padding: 0.5rem 4%;
  border-radius: 0px 100px 100px 0px;
  margin: 4px;
  background: #ffffff94;
}

.overlay_2.max-width-20 { 
  max-width: 20em;
}

.overlay_2.max-width-25 { 
  max-width: 25em;
}

.overlay_3 {
  height: 50%;
  left: 12%;
  top: 12em;
  right: 45%;
  padding: 0.5rem 8%;
  border-radius: 50px;
  margin: 12px;
  background: #ffffff94;
}

.overlay h3 { 
  font-family: "Montserratmedium";
  color: var(--green);
  font-weight: bold;
  font-size: 45px;
}

/*responsive overlay homepage*/
@media screen and (max-width: 576px) {
  .overlay h3 {
    font-size: 44px;
  }
  .overlay_3 {
    height: 35%;
    right: 6%;
  }
}

@media screen and (max-width: 768px) and (min-width: 576px) {
   .overlay_3 {
    right: 20%;
    height: 40%;
  }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  .overlay h3 {
    font-size: 45px;
  }
  .overlay_3 {
    height: 45%;
    right: 31%;
    padding: 1.5rem 8%;
 }
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
  .overlay h3 {
    font-size: 45px;
  }
  .overlay_3 {
    height: 45%;
    right: 40%;
    padding: 2.5rem 8%;
 }
}

.overlay a { 
  font-weight: 600;
  padding-right: 25px;
  color: var(--green) !important;
  text-decoration: none;
}

.overlay p { 
  color: var(--yellow) !important;
}

.overlay a span { 
  color: var(--green) !important;
  text-decoration: none;
}

.imgheader img { 
  background-size: cover;
  width: 100%;
  height: 500px;
}

/*menu breakpoints*/

@media screen and (max-width: 576px) {
    .navbar-nav li {
      margin: 0px 0px 0px 0px;
    }
  }

  @media screen and (max-width: 576px) {
    .navbar-nav li {
      margin: 0px 0px 0px 0px;
    }
  }

  @media screen and (max-width: 768px) {
    .navbar-nav li {
      margin: 0px 0px 0px 0px;
    }
  }

  @media screen and (max-width: 992px) {
    .navbar-nav li {
      margin: 0px 0px 0px 0px;
    }
  }

  @media screen and (min-width: 992px) {
    .navbar-nav li {
      margin: 0px 0px 0px 0px;
    }
  }

  @media screen and (min-width: 1200px) {
    .navbar-nav li {
      margin: 0px 15px 0px 0px;
    }
  }

  @media screen and (min-width: 1400px) {
    .navbar-nav li {
      margin: 0px 35px 0px 0px;
    }
  }

  @media screen and (min-width: 1200px) {
  .navbar-toggler {
    display: none !important;
  }
  }

  @media screen and (max-width: 576px) {
    .navbar-toggler {
       margin-left: 70%;
    }
    }

  @media screen and (max-width: 992px) {
    .navbar .navbar-collapse{
      padding-top: 3.8%; 
    }
    }

    @media screen and (max-width: 5000px) {
        .navbar-nav li .phone {
          display: none;
        }
        }

    @media screen and (max-width: 575px) {
        .navbar-nav li .phone {
         display: block;
         max-width: 100%;
        }
        }
    

@media screen and (min-width: 576px) {
    #allicons{
        display: none;
    }
    
}
 @media screen and (max-width: 576px) {
    .navbar { 
        margin: 0;
        width: 100%;
    }
 }   

 /*@media screen and (max-width: 576px) {
  img { 
    max-height: 120px;
    padding-top: 0px;
  }  
 }*/

 @media screen and (max-width: 576px) {
  .navbar-toggler { 
    padding-top: 22px;
  }
 }
 
 @media screen and (max-width: 576px) {
  .container-fluid.header { 
    height: 60px;
  }
 }

 @media screen and (max-width: 1200px) {
  .container-fluid.nav {
    justify-content: end;
  }
 }

 @media screen and (max-width: 1200px) {
  .navbar {
    margin: 0px;
    margin-left: auto;
  }
 }

 /*landingpage*/ 

 .text-verandaman h4 {
  font-size: 16px;
  font-weight: 600;
 }
 
 /*teampage*/

 .container-fluid.second { 
  background-color: var(--beige);
 }

 .beige { 
  background-color: var(--beige);
 }

 .vakmanschap {
  padding-top: 3%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 20em;
 }

 @media screen and (max-width: 880px) { 
  .vakmanschap { 
    padding-bottom: 10em;
  }
  .marginhomeidea {
    margin-top: 7em;
  }
 }

 .vakmanschap.div { 
  padding: 10em;
 }
  
 .teamcontent { 
  padding-bottom: 5em;
 }

.heading-container {

  display: flex;
  flex-direction: row;
  margin-bottom: 3em;
}

.heading-container.left { 
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 5em;
}

.heading-container.left h1 { 
  font-family: "Merriweatherblack";
}

.heading-container.right { 
  display: flex;
  justify-content: left;
  margin-top: 5em;
}

.heading-container.right h1 { 
  font-family: "Merriweatherblack";
}

.colleft p { 
  padding-right: 1.5em;
}

.chooseus {
  border-radius: 30% !important;
}

.heading-container .underline { 
  display: flex;
  align-self: flex-end;
}

.heading-container h1 { 
  margin: 0px;
}

.heading.text {
  text-align: justify;
}

 h1 { 
  color: var(--green);
 }

 .teamheader { 
  display: flex;
  justify-content: center;
 }

 .row.teamheader H1 { 
  display: flex;
  justify-content: center;
  margin-top: 1.5em;
 }

 .row.teamheader span { 
  padding-bottom: 3px;
  border-bottom: 2px solid var(--yellow);
 }

 .row.teamheader p { 
  text-align: center;
  padding: 25px 15% 0px 15%;
 }

.underline {
  margin-top: 1px;
  width: 3em; 
  height: 0.25em;
  background-color: #f8b42d;
}

.teamimg { 
  margin-top: 3em;
  display: flex;
  justify-content: space-around;
}

.teamimg img {
  width: 25em;
  height: auto;
  border-radius: 50%;
}

.teamtext { 
  text-align: center;
}

.teamtext h3 { 
  font-size: 20px;
  color: var(--yellow);
}

.greenbutton { 
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.greenbutton a { 
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.greenbutton button { 
  transition: 700ms;
  line-height: 18px;
  font-weight: 500;
  margin: 50px;
  width: 13em;
  height: 3.5em;
  border-radius: 35px;
  border: none;
  background-color: var(--green);
  color: var(--white);
}

@media screen and (max-width: 1400px) {
  .first p { 
    padding: 2em 2em 0em !important;
  }
}

.greenbutton button:hover {
  /*transform: scale(1.05); 
  transition: 700ms;*/
  transform: translate(0px, -3px);
  transition: 500ms; 
}

.greenbutton button::after { 
  content: "";
  top: 100px;
  position: relative;
  width: 100px;
  height: 100px;
  background-color: #144734;
}

.yellowbutton { 
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.yellowbutton a { 
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.paddingyellowbutton{
  background-color: var(--beige);
  padding-top: 8em;
}

.yellowbutton button { 
  transition: 700ms;
  line-height: 18px;
  font-weight: 600;
  margin: 50px;
  width: 13em;
  height: 3.5em;
  border-radius: 35px;
  border: none;
  background-color: var(--yellow);
  color: var(--green);
}

.yellowbutton button:hover {
  transform: translate(0px, -3px);
  transition: 500ms;
}

/*behavior button mainpage*/ 
.yellowbutton.left { 
  display: flex !important;
  justify-content: flex-end;
}

.yellowbutton.right { 
  display: flex !important;
  justify-content: flex-start;
}

@media screen and (max-width: 576px) {
  .yellowbutton.left {
    padding-top: 10em;
    padding-bottom: 5em;
  }
  .yellowbutton.right { 
    padding-top: 10em;
    padding-bottom: 5em;
  }
  .yellowbutton button.carouselbutton {
    margin: 0;
    width: 10em;
  }
  .button-1 {
    padding: 0 !important;
  }
}

@media screen and (max-width: 992px) {
  .yellowbutton.left {
    justify-content: center;
  }
  .yellowbutton.right { 
    justify-content: center;
  }
}

.imglogo { 
  display: flex;
  flex-direction: row;
  padding-bottom: 1.5em;
}

.imglogo img { 
  width: 8em;
  height: 8em;
  border-radius: 50%;
}

.imglogo .content { 
  padding-left: 1.6em;
}

.imglogo .content h2 { 
  font-size: 25px;
  padding-bottom: 0.5em;
}

/*Werkwijze*/

.roadmap { 
  background-image: url('img/SVG/Stappenplan.svg');
  height: 500px;
  position: relative;
  background-size: cover;
  background-position: center;
}

.stappenplan {
  margin-top: 2em;
  display: flex;
  justify-content: center;

}

@media screen and (max-width: 768px) {
  .stappenplandesktop {
    display: none;
  } 
}

@media screen and (max-width: 768px) {
  .stappenplanmobile {
  display: flex !important; 
  width: 15em;
}
}

@media screen and (min-width: 768px) {
  .stappenplanmobile {
  display: none
}
}


.first h1 {
  font-family: "Merriweatherblack";
  margin-top: 2em;
  font-weight: 600;
  text-align: center;
  color: var(--green);
}

.first p { 
  padding: 1em 10em 0em;
  text-align: center;
}

.second.workway { 
  height: auto;
  padding-bottom: 5em;
}

.werkwijzeheader { 
  display: flex;
  justify-content: left;
  margin-top: 5em;
}

.werkwijzeheader h1 { 
  font-family: "Merriweatherblack";
  font-weight: 600;
}

.werkwijzeheader .underline { 
  display: flex;
  align-self: flex-end;
}
/*Portfolio*/ 

.portfoliolayout { 
margin-top: 5em;
margin-bottom: 5em;
}

.headingportfolio p { 
  padding: 2em 5em 0em;
}

.imglayout {
padding-bottom: 1.5em;
}

.imgportfolio { 
  margin-top: 5em;
}

@media screen and (max-width: 576px) {
.imglogo.portfolio {
    flex-direction: column;
    align-items: center;
}
}

.gardenhouse { 
  border-radius: 15% !important;
}

/*Materialen*/ 

.cardcontenct { 
  display: flex;
  flex-direction: row;
}

.cardcontenct .cardimg { 
  margin: 0px 1em 5em;
  border: 2px solid #c5c5c5; 
  max-width: 25em;
  height: auto;
}

.imgroof { 
  max-width: 8em;
  height: auto;
  border-radius: 50%;
}

.textcard { 
  margin:0em 2em 0em;
}

.textcard h2 { 
  color: var(--green);
}

.roofcontent { 
  margin-top: 5em;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.buttonmaterialen button { 
  transition: 700ms;
  line-height: 18px;
  font-weight: 600;
  margin: 2.5em 0.5em; 
  width: 15em;
  height: 4em;
  border: none;
  background-color: var(--sand);
  color: var(--green);
  border-radius: 0px
}

.buttonmaterialen button:active, 
.buttonmaterialen button:hover { 
  transition: 700ms;
  background-color: var(--green) !important;
}

.padding-0-35 { 
  padding: 0 35px;
}

.test12 { 
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background-color: var(--white);
}

.buttonmaterialen p { 
  display: flex;
  justify-content: center;
}

.headingmatrials { 
  margin-bottom: 5em;
}

.imgworkingwith { 
  margin-bottom: 5em; 
}

.pictureworkingwith {
  padding: 0px;  
}

.imgworkingwithfirst {
  border: solid 2px black;
  border-right: 0px;
}

.imgworkingwithfirst .col {
  border-right: 2px solid black;
}

.imgworkingwithsecond .col {
  border-right: 2px solid black;
}

.imgworkingwithsecond {
  border: 2px solid black;
  border-top: 0px;
  border-right: 0px;
}

.test { 
  padding: 3em;
}

/*syle carousel materialen*/ 

.card { 
  margin: 0 auto;
  height: auto;
  width: 80%;
  border-radius: 20px;
  border: none;

}

.card-text { 
  text-align: center;
  padding-top: 1em;
}

.card-text.client {
  text-align: center;
  color: var(--yellow);
}

.client-review-stars { 
  text-align: center;
  color: var(--yellow);
}

.carousel-indicators {
  margin-bottom: 10.5rem;
 }

 .carousel-indicators [data-bs-target] {

  width: 15px;
  height: 5px;
  border-top: none;
  border-radius: 50%;
  background-clip: unset;
  opacity: 100%;
 }

 .carousel-dark .carousel-indicators [data-bs-target] {
  background-color: var(--yellow);
}

.carousel-indicators .active {
  background-color: var(--green) !important;
  opacity: 100%;
}

/*style carousel mainpage*/ 

.carouselhomepage { 
  padding-bottom: 15vh;
}

.carousel-indicators.homepage {
  margin-bottom: 0 !important; 
  bottom: -4.5em !important;
}

.card.home { 
  width: 30vw;
}
.carousel-inner .row {
  align-items: center;
}

.card.right {
 float: left; 
}

.card.left {
   float: right; 
}

@media screen and (max-width: 768px) {
  .mdcard { 
    display: flex;
  }
  .card.home {
    width: 65vw;
}
}

/* SVG style */

.svgtuinhuis {
  height: fit-content;
}

/*Onderhoudtips*/ 

.imgtips img { 
  display: flex;
  align-items: center;
  margin-top: 2em;
}

.marginbottomtips { 
  margin-bottom: 3em;
}

.margintoptips {
  margin-top: 2em; 
}



/*style accordion*/ 

.accordion-button:not(.collapsed) {
  background-color: var(--green) !important;
  color: var(--white);
  outline: none !important; 
}

.accordion-button .collapsed {
  background-color: var(--green) !important;
  color: var(--white);
  outline: none !important; 
}

.accordion-button .collapsed.true {
  background-color: var(--green);
}

.accordion-button { 
  background-color: var(--beige);
  margin: 10px 0;
  font-weight: 600;
}

.accordion-button.whiteaccordion { 
  background-color: var(--green);
  color: var(--white);
}

.accordion-button:after {
  order: -1; 
  margin-left: 0; 
  margin-right:0.6em; 
}
.accordion-button:focus {
  box-shadow: none;
  border-color: rgba(0,0,0,.125);
 
}

.right-align {
  width: 100%;
  margin: 0px;
  text-align: left;
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");
.accordion-button:not(.collapsed)::after {
  content: "\F2EA";
  position: relative;
  top: 7px;
  font-family: "Bootstrap-icons";
  color: var(--white);
  font-size: 30px;
  font-weight: 600;
  background-image: none;
}

.accordion-button.collapsed::after {
  content: "\F4FE";
  position: relative;
  top: -9px;
  color: var(--green);
  font-weight: 400;
  font-family: "Bootstrap-icons";
  font-size: 30px;
  font-weight: 600;
  background-image: none;
}

.accordion-item {
  border: none;
  background-color: var(--green);
  color: var(--white);
}

.accordion-body {
  padding: 20px 3em !important;
}

/*contact*/

.contactdiv { 
  margin-top: 0px !important;
  justify-content: left !important;
}

.margincontact {
  margin-bottom: 4em;
}
.contactpadding { 
  padding-bottom: 5em;
}

.contactheader { 
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.contactheader h2 {
  color: var(--green)
}

@media screen and (max-width: 576px) {
  .contactheaderp { 
  padding: 0em 2em; 
  text-align:start !important;
}
}

.contacticon { 
  padding-right: 1em;
}

.contacticon h5 { 
  padding-bottom: 1em; 
  color: var(--black);
}

.contacticon h5 i {
  padding-right: 12px;
}



@media screen and (max-width: 992px) {
  .contactheader {
    justify-content: center;
  }
 .contacticon {
  justify-content: center;
 }
}

/*form*/

.form-control.contact { 
  background-color: #efede0;
  border: none;
  color: var(--black);
  border-radius: 0px;
  padding: 0.9rem 1.2rem;
}


@media screen and (max-width: 576px) {
  .paddingform { 
  padding: 3em; 
}
}

form .textarea { 
  resize: none;
} 

.form-control.contact:focus, input:focus{
  box-shadow: none;
}

/*WERKWIJZE heading center second container*/
@media screen and (max-width: 992px) {
  .werkwijzeheader{
    justify-content: center;
  } 
  .cardcontenct {
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
  }
}

/* WERKWIJZE P element aglinment center*/ 
@media screen and (max-width: 992px) {
  .second.workway p {
    padding: 3em;
  }
}

/*media Quirries */

@media screen and (min-width: 1200px) {
  .content.left {
    padding-left: 14em;
  }
}

@media screen and (min-width: 1200px) {
  .content.right {
    padding-right: 14em;
  }
}

/*displays img content on mobile devices in column and in center*/
@media screen and (max-width: 992px) {
  .imglogo {
    flex-direction: column;
    align-items: center;
  }
}

/*degrees the size from img for mobile*/ 
@media screen and (max-width: 992px) {
  .teamimg img {
    width: 10em;
  }
}
/*displays heading center*/
@media screen and (max-width: 992px) {
  .heading-container.left {
    justify-content: center;
  }
}

/*sets h and P elements in center*/
@media screen and (max-width: 992px) {
  .imglogo .content { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2.5em 2em;
  } 
}

/* centers p element by 5em*/ 
@media screen and (max-width: 992px) {
  .colleft p {
    padding: 0 5em;
  }
}

@media screen and (max-width: 992px) {
  .heading-container.right {
    justify-content: center;
  }
}

/*Tygo main page and footer*/

:root {
  --font: "Heheheha", Arial, Helvetica, sans-serif;
  --title-color: rgb(245, 164, 1);
  --icon-color: rgb(245, 164, 1);
  --background-color: white;
  --footer-color: rgb(20, 71, 52);
  --text-color: white;
  --gray: #AF7C71;
  --blogtext-color: rgb(246, 164, 0);
  --screen-width: 100vw;
  --secondcolor: rgb(239,236,224);
  --green: #144734;
  --yellow: #f8b42d;
  --black: #000;
  --white: #fff;
}

html, body {
  padding: 0;
  margin: 0;
}
.middle { 
  padding-top: 5em;
}

@media screen and (max-width: 992px) {
  .middle { 
  padding-left: 10%;
  padding-right: 10%;
  }
}

.carousel {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  
  font-family: Arial;
}

.svgyellow {
   background-color: var(--secondcolor);
}

.carousel__list {
  display: flex;
  list-style: none;
  position: relative;
  width: 100%;
  height: 160px;
  justify-content: center;
  perspective: 300px;
}

.carousel__item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 0px;
  width: 40vw;
  max-width: 510px;
  height: 30vh;
  border-radius: 12px;
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.5);
  position: absolute;
  transition: all 0.3s ease-in;
}
.carousel__item:nth-child(1) {
  background-image: url(imaget/Image-1.PNG);
}
.carousel__item:nth-child(2) {
  background-image: url(imaget/image-2.PNG);
}
.carousel__item:nth-child(3) {
  background-image: url(imaget/Image-1.PNG);
}
.carousel__item:nth-child(4) {
  background-image: url(imaget/image-2.PNG);
}
.carousel__item:nth-child(5) {
  background-image: url(imaget/Image-1.PNG);
}
.carousel__item[data-pos="0"] {
  z-index: 5;
}
.carousel__item[data-pos="-1"], .carousel__item[data-pos="1"] {
  opacity: 1;
  filter: blur(2px) grayscale(10%);
}
.carousel__item[data-pos="-1"] {
  transform: translateX(-40%) scale(0.9);
  z-index: 4;
}
.carousel__item[data-pos="1"] {
  transform: translateX(40%) scale(0.9);
  z-index: 4;
}
.carousel__item[data-pos="-2"], .carousel__item[data-pos="2"] {
  opacity: 1;
  filter: blur(3px) grayscale(20%);
}
.carousel__item[data-pos="-2"] {
  transform: translateX(-70%) scale(0.8);
  z-index: 3;
}
.carousel__item[data-pos="2"] {
  transform: translateX(70%) scale(0.8);
  z-index: 3;
}

.carousel-text {
  text-align: center;
}

.carousel-text h5 {
  text-align: center;
}

.carousel-text h1 {
  text-align: center;
  color: white;
  font-weight: 600;
}

.carousel-text p {
  text-align: center;
  color: whitesmoke;
  font-size: small;
  padding-bottom: 4em;
}

.carousel-1 {
  background-color: var(--footer-color);
  border-radius: 0px 100px 0px 0px;
  height: auto;
  padding-top: 5em;
  -webkit-border-radius: 0px 100px 0px 0px;
  -moz-border-radius: 0px 100px 0px 0px;
  -ms-border-radius: 0px 100px 0px 0px;
  -o-border-radius: 0px 100px 0px 0px;
  z-index: 99;
  position: relative;
  display: block;
}

.carousel-2 {
  background-color: transparent;
  height: 300px;
  z-index: 101;
  position: relative;
  display: block;
}

.under-carousel2 {
  background-color: var(--secondcolor);
}

.undercarousel {
  background-color: var(--secondcolor);
  z-index: 100;
  height: 500px;
  width: 100%;
  display: block;
  position: relative;
}

.carousel-images {
  background-color: white;
  height: 200px;
}

.carousel-bottom img {
  background-color: transparent;
  max-height: 400px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.homeimgidea {
  display: flex;
  justify-content: center;
  padding: 10% 0%; 
}

.marginhomeidea { 
  margin-top: 10em;
}

.hometextidea { 
  padding: 15% 5%;
}

/*changes the text padding form home idea at screen size 992px*/
@media screen and (max-width: 992px) {
  .hometextidea {
    padding: 0% 10% 15% 10%;
  }
}

.homeimg { 
  height: auto;
  width: 100%;
  border-radius: 50%;
  border: 7px solid var(--green);
}

@media screen and (max-width: 992px) {
  .homeimg {
    width: 65%;
  }  
}

.mainoffer { 
  text-align: center;
  padding: 5%;
}

.mainoffer h2 { 
  color: var(--yellow);
  padding-bottom: 0.5em;
}

.mainoffer p { 
  color: var(--white)
}

.experiences  {
  text-align: center;
  padding: 5em 1em;
}

.experiences h2 { 
  padding-bottom: 1em;
}

.experiences h5 {
  font-weight: 600;
}

.colorfooter { 
  background-color: var(--beige);
  height: 15em;
  width: 100%;
}

.footer {
  background-color: var(--footer-color);
  
  border-radius: 0px 250px 0px 0px;
  -webkit-border-radius: 0px 250px 0px 0px;
  -moz-border-radius: 0px 250px 0px 0px;
  -ms-border-radius: 0px 250px 0px 0px;
  -o-border-radius: 0px 250px 0px 0px;
  position: absolute;
  z-index: 100;
}

.footer img {
  padding: 50px;
  max-width: 300px;
  min-width: 150px;
}

.footer h5 {
  color: var(--text-color);
  font-family: sans-serif;
  padding-left: 15px;
}

.footer h5 a { 
  color: var(--white);
  text-decoration: none;
}

.h4, h4 { 
  color: var(--yellow);
  padding-bottom: .7em;
}

.h5, h5 { 
  font-size: 1rem !important;
}

.footer-blog { 
  color: var(--yellow) !important;
}

.fa-solid .fa-brands {
  padding: 5px;
}

.footer h3 {
  font-weight: 600;
  color: var(--icon-color);
}

.footer h6 {
  text-align: center;
  color: lightgray;
}

@media screen and (max-width: 576px) {
  .margin-bottom-5em { 
    margin-bottom: 5em;
}
}


.content-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.padding-top-5 {
  padding-top: 5em;
}

.CarouselButton {
  width: 100%;
  background-color: var(--secondcolor);
}

.CarouselButton button {
  background-color: rgb(246,164,0);
  border: none;
  margin: 20px;
  padding: 5px 30px 8px 30px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.CarouselButton a {
  color: black;
  text-decoration: none;
  font-size: 10px;
  font-weight: bold;
}

@media screen and (min-width: 576px) {
  .overlay-header {
    background-color: rgba(255, 255, 255, 0.582);
    width: 100vw;
    height: 45vh;
    position: absolute;
    left: 0px;
    top: 200px;
    text-align: center;
    overflow: hidden;
  }
}

@media screen and (min-width: 768px) {
  .overlay-header {
    background-color: rgba(255, 255, 255, 0.582);
    width: 70vw;
    height: 45vh;
    min-width: 600px;
    min-height: 400px;
    position: absolute;
    left: 180px;
    top: 200px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    text-align: center;
    overflow: hidden;
  }
}

@media screen and (min-width: 992px) {
  .overlay-header {
    background-color: rgba(255, 255, 255, 0.582);
    width: 70vw;
    height: 45vh;
    max-width: 600px;
    max-height: 400px;
    position: absolute;
    left: 180px;
    top: 200px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    text-align: center;
    overflow: hidden;
  }
}

@media screen and (min-width: 992px) {
  .overlay-header {
    background-color: rgba(255, 255, 255, 0.582);
    width: 70vw;
    height: 45vh;
    max-width: 600px;
    max-height: 400px;
    position: absolute;
    left: 180px;
    top: 200px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    text-align: center;
    overflow: hidden;
  }
}

@media screen and (min-width: 1200px) {
  .overlay-header {
    background-color: rgba(255, 255, 255, 0.582);
    width: 70vw;
    height: 45vh;
    max-width: 600px;
    max-height: 400px;
    position: absolute;
    left: 180px;
    top: 200px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    text-align: center;
    overflow: hidden;
  }
}

@media screen and (min-width: 1400px) {
  .overlay-header {
    background-color: rgba(255, 255, 255, 0.582);
    width: 70vw;
    height: 45vh;
    max-width: 600px;
    max-height: 400px;
    position: absolute;
    left: 180px;
    top: 200px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    text-align: center;
    overflow: hidden;
  }
}

.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 20px; /* Voeg wat ruimte rondom toe */
  box-sizing: border-box; /* Zorg ervoor dat padding niet de totale breedte beïnvloedt */
}


.svgtuinhuis svg { 
  max-width: 100%; /* Zorg ervoor dat de SVG binnen de container past */
  height: auto; /* Behoud de juiste aspect ratio */
}

@media screen and (max-width: 1200px ) { 
  .svgtuinhuis svg { 
    padding: 0; /* Verwijder padding op kleinere schermen */
  }
}

.svgtuinhuis {
  display: flex; 
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.svg-img { 
  width: 80%;
  height: auto;
}

@media screen and (max-width: 992px) {
  .svg-img {
    transform: scale(1.5);
  }
}

@media screen and (max-width: 576px) {
  .svg-img {
    transform: scale(1.8);
  }
}